.highlight {
    background-color: rgb(203, 229, 246);
}

.startDate {
    background-color: blue;
    color: white;
}

.endDate {
    background-color: blue;
    color: white;
}

.saturday {
    color: blue;
}

.weekday {
    color: black;
}

.sunday {
    color: red;
}

.navigationLabel {
    color: black !important;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
}

.navigationArrow {
    cursor: pointer;
    font-size: 3rem;
    user-select: none;
    color: black !important;
}

.calendarHeader {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the labels horizontally */
    margin-bottom: 2rem;
    width: 100%;
}

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calendarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.modalTitle {
    color: black;
    font-size: 3rem;
}
